
/* Main styling */

* {
    text-align: center;
    background-color: #203A45;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 56px;
    padding-top: 80px;
    padding-bottom: 24px;
    color: #41D492;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 48px;
    margin-bottom: 0;
    color: #ffffff;
}

/* Card styling */

.card {
    border-color: #909CA2;
}

.card-title {
    font-family: 'Open Sans', sans-serif;
    padding-top: 32px;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
}

#card-text-wins {
    font-family: 'Bungee Shade', cursive;
    font-size: 48px;
    color: #ffffff;
}

#card-text-losses {
    font-family: 'Bungee Shade', cursive;
    font-size: 48px;
    color: #ffffff;
}

#card-text-guessesLeft {
    font-family: 'Bungee Shade', cursive;
    font-size: 48px;
    color: #ffffff;
}

/* Guessed letters */

#guessedLetters {
    font-family: 'Bungee Shade', cursive;
    font-size: 48px;
    color: #41D492;
}

.bottom {
    padding-top: 48px;
}